 .navbar-wrapper {
    width: 80%;
    background-color: rgba(65, 65, 65, 0.9);
    padding: 2rem;
    display: flex;
    margin: 2rem 0 0;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px #827ffe;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    align-content: center;
    width: 100%;
    max-width: 950px;
    padding: 5px 0px 0px 10px;
  
}

.link-container {    
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
    height: 40px;
} 
